.faqBox{
    max-width: 900px; 
    margin: 40px auto 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.faqList {
    width: 100%; 
    margin-top: 30px;
    text-align: left; 
}

.faqItem {
    margin-bottom: 20px;
    padding: 15px 0;
}

.faqQuestion {
    font-size: 1.1em;
    color: #333; 
    cursor: pointer; 
}